@model TheLearningCenter.WebSite.Models.ClassModel[]

@{
    ViewBag.Title = "Enroll in a Class";
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Enroll in a Class</title>
</head>
<h2>Enroll in a Class</h2>

