
@{
    ViewBag.Title = "Enroll In Class";
}

<h2>@ViewBag.Title.</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnrollInClass</title>
</head>
<body>
    <div>
    </div>
</body>
</html>
