@model BirthdayCard.Models.CardContents

@{
    Layout = null;
}

<!DOCTYPE html>
<h1>Birthday card sent</h1>
<h3>From: @Model.Sender</h3>
<h3>To: @Model.Recipient</h3>
<h3>Message: @Model.Message</h3>